html{

}
.section-header{
    font-family: 'Bebas Neue', cursive;

}
.details-content{
    padding-top: 50px;
    background-color: black;
    background-image: url("https://images.pexels.com/photos/2387819/pexels-photo-2387819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:100% 100%;
    margin:0px;
    background-repeat: no-repeat;
    color: white;
    /* height:100vh; */
}
.review{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: white;
    
}
.review-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: start;
    gap: 60px;
    margin:0 auto;
    
}
.edit{
    text-align: right;
    padding-right: 10px;
    align-items: flex-end;
   
}
.movie{
    display: flex;
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto;
}
.cast{
    padding: 50px;
}
.rating-number{
    text-align: left;
    padding-left: 5px;
}
.age-rating{
    border:1px solid black;
    border-radius: 5px;
    font-size:15px;
    background-color: lightgray;
    padding: 0 3px 0 3px;
}
.movie-info{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.movie-details-1{
    text-align: center;
}
.comment-label{
    
}
.rating-form{
    /* display: flex;
    flex-direction: column; */
    max-width: 800px;
    margin: 0 auto;
}
.movie-description{
    max-width: 800px;
    /* text-align: center; */
    margin:0 auto;
}
.all-reviews{
  justify-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(10px, 50px);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 4rem;
  grid-auto-rows: auto;
  color: rgb(85, 84, 84);
}

#rating{
    text-align: center;
    /* border: 1px solid black; */
    max-width: 70px;
    margin:0 auto;
    height:40px;
    border-radius: 0;
}
#comment{
    border-radius: 0;
    text-align: center;
    /* border: 1px solid black; */
    max-width: 800px;
    height:100px;
    /* margin: 0 auto; */
    word-wrap: break-word;
}
.review-header{
    font-family: 'Bebas Neue', cursive;
    max-width: 800px;
    margin: 0 auto;
}
.review-comment{
    max-width: 200px;
    margin: 0 auto;
    word-wrap: break-word;
    
}
.button{
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-review{
    display: flex;
    flex-direction: column;
}
.bottom-half{
    background-color: rgb(0, 0, 0, .5);
    
}