.review{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
}
.review-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}
.edit{
    text-align: right;
}
.movie{
    display: flex;
}
.cast{
    padding: 50px;
}
.rating-number{
    text-align: left;
    padding-left: 5px;
}
.age-rating{
    border:1px solid black;
    border-radius: 5px;
    font-size:15px;
    background-color: lightgray;
    padding: 0 3px 0 3px;
}
.movie-info{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
