.review-details{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
}
.review-details-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}
.edit{
    text-align: right;
}


.delete{
    text-align: center;
    margin: 0 auto;
}