.header-homepage {
    display: flex;
    justify-content: space-between;
}


.movie-list{
    display: flex;
    justify-content: space-between;
}
.movie-images {
    height: 200px!important;
}
#biwind{
    color:deepskyblue;
}


.spinner {
    width: 24px;
    animation: loading infinite 3s linear;
}

@keyframes loading{
    from{
      transform: rotateZ(0deg);
    }
    to{
      transform: rotateZ(360deg);
    }
  }