/* user input */

input {
    width: 650px;
    height: 50px;
    border: 0px solid white;
    border-radius: 90px;
    background-color: whitesmoke;
}
*:focus {
    outline: 0 !important;
}
/* submit button */
#search-submit {
    height: 51px;
    border-radius: 90px;
    border: 0px solid white;
    font-size:20px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: linear-gradient(45deg, #19F19B, #5191FF);
}
#look-up-symbol {
    margin-left: 20px;
    margin-top:  11px;
}
.search-context {
    position: relative;
    z-index: 100;
}
.drop-down-list {
    position: absolute;
    top: 100%;
    width: 150%;
    color: black;
    background-color: white;
}
#search-image {
    width: 100%;
    height: auto;
}
.search-context-inner {
    display: flex;
    border-radius: 50px;
    background-color: whitesmoke;
    box-sizing: border-box;
    margin-top: 8px;
}
/* input {
    width: 220px;
}
.hide {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.search-context {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
    color: rgb(0, 157, 255);
    font-size: 10px;
}
.drop-down-list{
    margin: 0;
    width: 220px;
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    background-color: black;
}
.drop-down-list:empty{
border: none;
background-color: black;
}
.drop-down-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    background-color: black;
}
.search-context-inner {
    display: flex;
    margin: 0;
    padding: 0;
}
#search {
    font-size: 30px;
    padding: 10px;
    margin: 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#search:hover {
    color: rgb(0, 157, 255);
    background-color: rgb(12, 12, 12);
} */

























/* input {
    width: 220px;
}


.hide {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.search-context {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
    color: rgb(0, 157, 255);
    font-size: 10px;
}

.drop-down-list{
    margin: 0;
    width: 220px;
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    background-color: black;
}

.drop-down-list:empty{
border: none;
background-color: black;
}

.drop-down-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    background-color: black;
}

.search-context-inner {
    display: flex;
    margin: 0;
    padding: 0;
}

#search {
    font-size: 30px;
    padding: 10px;
    margin: 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#search:hover {
    color: rgb(0, 157, 255);
    background-color: rgb(12, 12, 12);
} */