.carousel-container {
    width:50%;
    margin-left: 400px;
    margin: 0 auto;
}
.carousel-inner{
    margin: auto;
}
.slider {
    display: flex;
    height: 400px!important;
    width: auto!important;
    margin-left: 220px;
    margin:auto;
}
/* .carousel-control-next-icon .carousel-control-next{
    gap: 5rem;
    
} */
.slick-track{
    min-width: 350px;
}

.slick-slider .slick-initialized{
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

}
.movies-slide-bar{
    width:1500px;
    margin: 0 auto;
}
.slick-arrow .slick.prev::before{
    display:none
}

::before{
    display: none;
}

.button-movie-slider{
    display: flex;
    left:-2%;
}